# Files too large for git — link to UIL website instead
Elementary_Packet_2425.pdf
Junior_High_Packet_2425.pdf
Chess_Packet_2425.pdf
MapsGraphsCharts_Packet_2425.pdf
Number Sensse-developing_ms_ns__03318.pdf
EM01_AIE_Final.pdf
